# Ignore these folder
.devcontainer/
.vscode/
build/


#  Ignore files
*.txt
*.log
*.py
sdkconfig
sdkconfig.*

# exclude
!main/CMakLists.txt


# Except for files in this folder (if it contains other folders you want to ignore)
# main/*/
#*.txt

# Re-include specific files or folders within the tracked folder, if necessary
!main/*/
#!main/src/
#!main/include/

